/*CSS style HW1*/
/*Organization: shopping cart page, product detail page, 
gallery, common styling*/

/*Shopping Cart Page*/

/*Nav Bar*/
/*Products Nav*/
.productcart {
    margin-top: 15px;
    text-align: center;
    font-size: 22px; 
    font-family: arial;
}

/*Cart Nav*/
.cart {
    display: block;
    text-align: center;
    font-size: 22px; 
    font-weight: bold;
    font-family: arial;
}

/*images*/
.rollpic-cart {
    display: block;
    margin: auto;
    width: 150px;
    border: 4px solid black; 
}

/*remove button*/
.remove {
    line-height: 2;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    font-family: arial;
}

/*product description*/
.rolltext-cart {
    text-align: center;
    font-size: 25px; 
    font-family: arial;
    margin-bottom: 50px;
}

/*line divider*/
.cart-line {
    height:3px;
    background: black;
    width: 60%
}

/*total price*/
.total-price {
    text-align: center;
    font-size: 25px; 
    font-family: arial;
}

/*checkout button*/
.btn-checkout {
    height: 60px;
    width: 180px;
    display: block;
    margin: auto;
    background-color: yellow;
    font-size: 25px;
    font-weight:bold; 
    border: 4px solid black;
}

/*Product Detail Page*/

/*product img*/
.product-pic {
    width: 600px;
    border: 4px solid black; 
    display: block;
    margin: auto;
}

/*body text*/
.text-product{
    width: 310px;
    display: block;
    margin: auto;
    text-align: left;
    font-size: 25px; 
    font-family: arial;
}

/*dropdowns*/
.dropdown_menu {
    width: 300px;
    height: 50px;
    display: block;
    margin: auto;
    font-size: 23px;
    font-family: arial;
    position: relative;
    border: 3px solid black;

}

/*pirce and button inline*/
#bottom {
    display: block;
    margin: auto;
    text-align: center;
}

/*price*/
.price {
    margin-right: 25px;
    font-size: 25px; 
    font-family: arial;
    display: inline-block;
    font-weight: bold;
}

/*add to cart button*/
.btn-addtocart {
    height: 60px;
    width: 180px;
    font-family: arial;
    display: inline-block;
    background-color: yellow;
    font-size: 25px;
    font-weight:bold; 
    border: 4px solid black;
}

/*Gallery Page*/

/*line divider*/
.line1 {
    height:3px;
    background: black;
}

/*product blocks*/
.cinnamonroll {
    width: 300px;
    display: block;
    margin: auto;
    padding: 8px;
}

/*image and text hover*/
.cinnamonroll:hover{
    background-color: yellow;
    cursor: pointer;
}

/*images*/
.rollpic{
    width: 292px;
    border: 4px solid black; 
    display: block;
    margin: auto;
}

/*product name*/
.rolltitle {
    margin-top: 10px;
    font-size: 22px;
    font-family: arial;
    text-decoration: underline;
}

/*product price*/
.rollprice {
    font-family: arial;
    font-size: 22px;
}

/*CSS style Common*/

/*link styling*/
a:link {
    color:black;
    text-decoration: none;
}

a:visited {
    color:black;
    text-decoration: none;
}

/*logo*/
.bunbunlogo {
    width: 350px;
    margin-left: 20px;
}

/*page titles*/
.title{
    display: block;
    text-align: center;
    font-size: 35px; 
    line-height: 4;
    font-family: arial;
} 

/*nav bar*/
.productnav {
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 22px; 
    font-family: arial;
    margin-top: 15px;
}

.cartnav {
    text-align: center;
    font-size: 22px;
    line-height: 3;
    font-family: arial;
}