/* CSS Final Project */

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0px;
    background-color: #FDF9F6;
}

.titleImages{
    margin: 0px;
}

.ImgandText {
    position: relative;
    text-align: center;
    color:#ffffff;
    width: 100%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-bottom: -20px;
    padding: 0;
    /* border: 0; */
    /* display: block; */
}

.coverImg {
    width: 100%;
    /* margin: 0px;
    padding: 0;
    border: 0; */
    /* display: block; */
}

ul {
    margin-top:25px;
}

.caption1, .caption2 {
    position: absolute;
    font-weight: bold;
}

.button {
    position: absolute;
    background: transparent;
    color: white;
    text-decoration: none;
    border: white;
    border-style: solid;
}

.button:hover {
    opacity: 1;
    background: white;
    color: black;
}

.intro {
    background-color: #d3d3d3;
}

h2 {
    margin: 0px;
}

.category {
    margin-bottom: 150px;
}

.imageGrid:hover {
    opacity: 0.3;
    transition: .3s ease;
    cursor: pointer;
}

/* more than 900px */
@media screen and (min-width: 900px) {

    #projectSpace {
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 20px;
    }

    .button {
        top: 60%;
        left: 50%;
        transform: translate(-50%, 50%);
        padding: 13px 30px;
        font-size: 18px;
        border-width: 3px;
    }

    .caption1 {
        width: 100%;
        top: 32%;
        left: 50%;
        transform: translate(-50%, 50%);
        font-size: 45px;
    }

    .caption2 {
        top: 42%;
        left: 50%;
        transform: translate(-50%, 50%);
        font-size: 45px;
        width: 100%;
    }

    .intro{
        width:100%;
        margin: 0px;
    }

    #introText {
        font-size: 40px;
        text-align: center;
        padding: 50px 25px 50px 25px;
        line-height: 1.2;
    }

    .toolText {
        width: 40%;
        font-size: 18px;
        margin-bottom: 100px;
    }

    .contentFlex {
        display: flex;
        /* align-items: flex-start; */
        gap: 60px;
    }

    .contentLeft{
        flex-basis: 40%;
    }
        
    .contentRight{
        flex-basis: 45%;
    }

    .categoryIntro{
        width: 40%;
        margin-bottom: 50px;
    }

    .grid {
        display: flex;
        height: 130px;
    }

    .imageGrid {
        opacity: 1;
        width: 150px;
        padding: 2px;
        flex-grow: 1;
    }

    .images {
        display: flex;
        width: 50%;
        gap: 10px;
    }
}

/* between 600 and 800px */
@media screen and (min-width: 600px) and (max-width: 900px) {
    .images {
        display: flex;
        width: 50%;
        gap: 10px;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .caption1 {
        width: 100%;
        top: 25%;
        left: 50%;
        transform: translate(-50%, 50%);
        font-size: 32px;
    }

    .caption2 {
        width: 100%;
        top: 32%;
        left: 50%;
        transform: translate(-50%, 50%);
        font-size: 32px;
    }

    .button {
        top: 57%;
        left: 50%;
        transform: translate(-50%, 50%);
        padding: 8px 16px;
        font-size: 16px;
        border-width: 2px;
    }

    #introText {
        font-size: 28px;
        text-align: center;
        padding: 25px;
        line-height: 1.2;
    }

    #projectSpace {
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .toolText {
        font-size: 18px;
        margin-bottom: 100px;
    }
    
    .contentLeft{
        margin-bottom: 30px;
        width: 100%;
    }

    .contentRight {
        width: 100%;
        padding-right: 20px;
    }

    .categoryIntro{
        margin-bottom: 50px;
    }  

    .grid {
        display: flex;
        margin: auto;
        /* width: 100%; */
    }

    .imageGrid {
        opacity: 1;
        width: 30%;
        padding: 2px;
        flex-grow: 1;
    }
}

/* less than 600px */
@media screen and (max-width: 599.9px) {
    .images {
    width: 100%;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    }

    .caption1 {
        width: 100%;
        top: 25%;
        left: 50%;
        transform: translate(-50%, 50%);
        font-size: 20px;
    }

    .caption2 {
        width: 100%;
        top: 30%;
        left: 50%;
        transform: translate(-50%, 50%);
        font-size: 20px;
    }

    .button {
        top: 57%;
        left: 50%;
        transform: translate(-50%, 50%);
        padding: 8px 16px;
        font-size: 12px;
        border-width: 2px;
    }

    #introText {
        font-size: 20px;
        text-align: center;
        padding: 10px;
        line-height: 1.2;
    }

    #projectSpace {
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .toolText {
        font-size: 18px;
        margin-bottom: 100px;
    }
    
    .contentLeft{
        margin-bottom: 30px;
        width: 100%;
    }

    .contentRight {
        width: 100%;
        padding-right: 20px;
    }

    .categoryIntro{
        margin-bottom: 50px;
    }  

    .grid {
        display: flex;
        margin: auto;
        /* width: 100%; */
    }

    .imageGrid {
        opacity: 1;
        width: 30%;
        padding: 2px;
        flex-grow: 1;
    }
}

.categoryTitle {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
}

.categoryText {
    font-size: 18px;
}

.placeholderText, .placeholderText2, .placeholderText3, .placeholderText4 {
    font-size: 20px;
}

#projectName1, #projectName2, #projectName3, #projectName4 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

#projectYear1, #projectArchitect1, #projectLocation1, #projectYear2, #projectArchitect2, #projectLocation2, #projectYear3, #projectArchitect3, #projectLocation3, #projectYear4, #projectArchitect4, #projectLocation4 {
    font-size: 19px;
}

#projectDescription1, #projectDescription2, #projectDescription3, #projectDescription4 {
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 25px;
}

#shelterImage1 { 
    margin-bottom: 5px;
}

#shelterImage2 { 
    margin-bottom: 5px;
} 


