/* Styling for Learn More Page */

/* Common styling for all screen sizes */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Helvetica, sans-serif;
    background-color: #FDF9F6;
}

#coverImage {
    width: 100%;
    margin: 0px;
}

.ImgandText {
    position: relative;
    text-align: center;
    color:#ffffff;
    width: 100%;
    margin-bottom: -20px;
    padding: 0;
}

.caption1, .caption2 {
    position: absolute;
    font-weight: bold;
}

#counterHeading{
    color: #CF5C36;
    margin-left: 2%;
    margin-bottom: 5%;
    text-align: center;
}

.button {
    position: absolute;
    background: transparent;
    color: white;
    text-decoration: none;
    border: white;
    border-style: solid;
}

.button:hover {
    opacity: 1;
    background: white;
    color: black;
}

#counter1, #counter2, #counter3, #counter4 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    font-style: italic;
    margin-right: 15px;
}

.topCount {
    display: flex;
    gap: 5%;
}

#counterLeft {
    margin-bottom: 30px;
}

.icon {
    width: 20%;
}

#News {
    background-color:#F59949;
    padding-bottom: 50px;
}

#newsHeading {
    color: #6B2E12;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    font-size: 32px;
}

.column {
    float: left;
    width: 33%;
    padding: 0 30px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}

.readStory {
    border-radius: 10px;
    border-color:  orange;
    background-color: white;
    padding: 8px 12px 8px 12px;
}

#bottomLink {
    margin-left: 30px;
}

/* Styling for screen more than 900px */
@media screen and (min-width: 900px) {
    .caption1 {
        width: 100%;
        top: 30%;
        left: 50%;
        transform: translate(-50%, 50%);
        font-size: 45px;
    }

    .caption2 {
        top: 40%;
        left: 50%;
        transform: translate(-50%, 50%);
        font-size: 45px;
        width: 100%;
    }

    .button {
        top: 62%;
        left: 50%;
        transform: translate(-50%, 50%);
        padding: 13px 30px;
        font-size: 18px;
        border-width: 3px;
    }

    .counterSection {
        display: flex;
        gap: 10%;
        width: 90%;
        margin: 5%
    }

}


/* Styling for screen between 600 and 800px */
@media screen and (min-width: 600px) and (max-width: 900px) {

    .caption1 {
        width: 100%;
        top: 25%;
        left: 50%;
        transform: translate(-50%, 50%);
        font-size: 32px;
    }

    .caption2 {
        width: 100%;
        top: 35%;
        left: 50%;
        transform: translate(-50%, 50%);
        font-size: 32px;
    }

    .button {
        top: 57%;
        left: 50%;
        transform: translate(-50%, 50%);
        padding: 8px 16px;
        font-size: 16px;
        border-width: 2px;
    }

    .counterSection {
        display: flex;
        gap: 10%;
        width: 90%;
        margin: 5%
    }

}

/* Styling for screen less than 600px */
@media screen and (max-width: 600px) {
    .caption1 {
        width: 100%;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -150%);
        font-size: 20px;
    }

    .caption2 {
        width: 100%;
        top: 32%;
        left: 50%;
        transform: translate(-50%, 50%);
        font-size: 20px;
    }

    .button {
        top: 57%;
        left: 50%;
        transform: translate(-50%, 50%);
        padding: 8px 12px;
        font-size: 12px;
        border-width: 2px;
    }

    .column {
        width: 100%;
        display: block;
        margin-bottom: 25px;
    }

    .counterSection {
        width: 93%;
        margin: 7%
    }
}

